In [1]:
import pandas as pd
import numpy as np

In [2]:

df=pd.read_csv('Tesla.csv')

In [3]:

df.head(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1269736701410398209,1269736701410398209,1591563794000,2020-06-08,02:33:14,India Standard Time,3030968846,f1mclaren2,Everything will be alright- Galatasaray,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '3030968846', 'username': 'F1mcla...",NaN,NaN,NaN,NaN
1,1269736672415154176,1269691244785131522,1591563787000,2020-06-08,02:33:07,India Standard Time,1259145920442220545,wrobelli,Wolf Robelli,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1259145920442220545', 'username'...",NaN,NaN,NaN,NaN
2,1269736634553176066,1269736634553176066,1591563778000,2020-06-08,02:32:58,India Standard Time,1291065829,shinto_se,SHINTO SELF EMPOWERMENT,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1291065829', 'username': 'shinto...",NaN,NaN,NaN,NaN
3,1269736623123714054,1269640245424918529,1591563776000,2020-06-08,02:32:56,India Standard Time,4250738554,tomashearty,Paws R Us Capital Research,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '4250738554', 'username': 'TomasH...",NaN,NaN,NaN,NaN
4,1269736619621351426,1269713927845425154,1591563775000,2020-06-08,02:32:55,India Standard Time,1243720630354292737,atlantamumzy,Mumzy Atlanta,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1243720630354292737', 'username'...",NaN,NaN,NaN,NaN

In [4]:
New_df=df[['id','username','name','tweet']]
New_df

,id,username,name,tweet
0,1269736701410398209,f1mclaren2,Everything will be alright- Galatasaray,Tesla https://twitter.com/hatiice_ak/status/1...
1,1269736672415154176,wrobelli,Wolf Robelli,Man sollte diese Menschen mal f√ºr ein paar Woc...
2,1269736634553176066,shinto_se,SHINTO SELF EMPOWERMENT,Vortex Math Part 7 Nikola Tesla 3 6 9 - The Se...
3,1269736623123714054,tomashearty,Paws R Us Capital Research,So he‚Äôs like Tesla. (‚Äú)Dead(‚Äú) but with ATH ra...
4,1269736619621351426,atlantamumzy,Mumzy Atlanta,"I guess the easiest way to describe it, is Nik..."
...,...,...,...,...
375,1269724596305039361,k__mckk,km,my mind really drives itself like Tesla
376,1269724577019633665,liltubby211,chris üëÅüíîüëÅ,Fuck a girlfriend I want a Tesla ü•±.
377,1269724569306304512,farmfreshpower,Steve Castle,Thank you for your service!
378,1269724558833131523,mesopotamie_94,M√©sopotamie,ŸáŸáŸáŸáŸáŸáŸáŸáŸáŸá ÿßŸä ÿ¨ÿØŸäÿßÿ™ Ÿàÿ≥ŸÜ
379,1269724510518947845,alandbru,Aland Bru,Interesante üßê gracias

In [5]:
New_df.shape

(380, 4)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
New_df.dropna(inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
New_df.shape

(380, 4)

In [8]:
tweet=New_df.copy()
tweet.head()

,id,username,name,tweet
0,1269736701410398209,f1mclaren2,Everything will be alright- Galatasaray,Tesla https://twitter.com/hatiice_ak/status/1...
1,1269736672415154176,wrobelli,Wolf Robelli,Man sollte diese Menschen mal f√ºr ein paar Woc...
2,1269736634553176066,shinto_se,SHINTO SELF EMPOWERMENT,Vortex Math Part 7 Nikola Tesla 3 6 9 - The Se...
3,1269736623123714054,tomashearty,Paws R Us Capital Research,So he‚Äôs like Tesla. (‚Äú)Dead(‚Äú) but with ATH ra...
4,1269736619621351426,atlantamumzy,Mumzy Atlanta,"I guess the easiest way to describe it, is Nik..."

In [9]:
tweet.tweet[1]

'Man sollte diese Menschen mal f√ºr ein paar Wochen nach Venezuela schicken. Ohne veganen Latte Macchiato. Ohne Tesla. Ohne iphone. Das k√∂nnte helfen.'

In [10]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [11]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]

In [12]:
for i in range(0,len(tweet)):
    review=re.sub('[^a-zA-Z]',' ',tweet['tweet'][i])
    review=review.lower() 
    review=review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [13]:
corpus[1]

'man sollt dies menschen mal f r ein paar wochen nach venezuela schicken ohn veganen latt macchiato ohn tesla ohn iphon da k nnte helfen'

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=5000,ngram_range=(1,3))  #NgRam gives the words the range..eg."good boy" or "Good one boy"
                                                         #First priority being the only word "good"
X=tfidf.fit_transform(corpus).toarray()

In [15]:
X.shape

(380, 5000)

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...

True

In [17]:
tweet.head()

,id,username,name,tweet
0,1269736701410398209,f1mclaren2,Everything will be alright- Galatasaray,Tesla https://twitter.com/hatiice_ak/status/1...
1,1269736672415154176,wrobelli,Wolf Robelli,Man sollte diese Menschen mal f√ºr ein paar Woc...
2,1269736634553176066,shinto_se,SHINTO SELF EMPOWERMENT,Vortex Math Part 7 Nikola Tesla 3 6 9 - The Se...
3,1269736623123714054,tomashearty,Paws R Us Capital Research,So he‚Äôs like Tesla. (‚Äú)Dead(‚Äú) but with ATH ra...
4,1269736619621351426,atlantamumzy,Mumzy Atlanta,"I guess the easiest way to describe it, is Nik..."

In [19]:
pip install textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\hp\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in c:\users\hp\appdata\roaming\python\python37\site-packages (from nltk>=3.1->textblob) (1.14.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.

In [20]:
import textblob
from textblob import TextBlob

In [21]:
polarity=[]
for i in tweet['tweet'].values:
    try:
        analysis=TextBlob(i)
        polarity.append(analysis.sentiment.polarity)
    except:
        polarity.append(0)

In [22]:
tweet['polarity']=polarity
tweet.head()

,id,username,name,tweet,polarity
0,1269736701410398209,f1mclaren2,Everything will be alright- Galatasaray,Tesla https://twitter.com/hatiice_ak/status/1...,0.000
1,1269736672415154176,wrobelli,Wolf Robelli,Man sollte diese Menschen mal f√ºr ein paar Woc...,0.000
2,1269736634553176066,shinto_se,SHINTO SELF EMPOWERMENT,Vortex Math Part 7 Nikola Tesla 3 6 9 - The Se...,-0.050
3,1269736623123714054,tomashearty,Paws R Us Capital Research,So he‚Äôs like Tesla. (‚Äú)Dead(‚Äú) but with ATH ra...,-0.200
4,1269736619621351426,atlantamumzy,Mumzy Atlanta,"I guess the easiest way to describe it, is Nik...",0.312

In [23]:
tweet.polarity[tweet.polarity == 0.0] = 1
tweet.polarity[(tweet.polarity > 0) & (tweet.polarity <= -0.40)] = 2
tweet.polarity[(tweet.polarity > -0.4) & (tweet.polarity <= -0.99)] = 3
tweet.polarity[(tweet.polarity > 0) & (tweet.polarity <= 0.30)] = 4
tweet.polarity[(tweet.polarity > 0.30) & (tweet.polarity <= 0.99)] = 5

#Where:
#1 = Neural
#2 = Slightly Negative
#3 = Negative
#4 = Slightly Positive
#5 = Positive

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [24]:
tweet.head()

,id,username,name,tweet,polarity
0,1269736701410398209,f1mclaren2,Everything will be alright- Galatasaray,Tesla https://twitter.com/hatiice_ak/status/1...,1.00
1,1269736672415154176,wrobelli,Wolf Robelli,Man sollte diese Menschen mal f√ºr ein paar Woc...,1.00
2,1269736634553176066,shinto_se,SHINTO SELF EMPOWERMENT,Vortex Math Part 7 Nikola Tesla 3 6 9 - The Se...,-0.05
3,1269736623123714054,tomashearty,Paws R Us Capital Research,So he‚Äôs like Tesla. (‚Äú)Dead(‚Äú) but with ATH ra...,-0.20
4,1269736619621351426,atlantamumzy,Mumzy Atlanta,"I guess the easiest way to describe it, is Nik...",5.00

In [25]:
y=tweet[['polarity']]
y=y.astype(int)
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 379
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   polarity  380 non-null    int32
dtypes: int32(1)
memory usage: 14.5 KB

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.22, random_state=0)

In [27]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [28]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [29]:
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)
metrics.confusion_matrix(y_test, pred)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:   0.524

array([[ 0, 15,  0,  0],
       [ 0, 44,  0,  0],
       [ 0, 16,  0,  0],
       [ 0,  9,  0,  0]], dtype=int64)